In [1]:
import pandas as pd

In [9]:
row = []
for i in range(1,11):
    row = row + [i]*25

In [10]:
column = []
for i in range(1,11):
    column = column + [i for i in range(1,26)]

In [14]:
percentage = [i/250 for i in range(1,251)]

In [15]:
df = pd.DataFrame(list(zip(row,column,percentage)), columns=['row','column','percentage'])

In [16]:
df

     row  column  percentage
0      1       1       0.004
1      1       2       0.008
2      1       3       0.012
3      1       4       0.016
4      1       5       0.020
..   ...     ...         ...
245   10      21       0.984
246   10      22       0.988
247   10      23       0.992
248   10      24       0.996
249   10      25       1.000

[250 rows x 3 columns]

In [17]:
df.to_csv("input.csv")